<html lang="en">
<%- include("component/head")  %> 
<style>
  .container{
    width: fit-content;
    padding: 25px 0;
    margin: 0 auto;
  }
</style>
<body>
  <div class="container">
    <h1 class="text-center">FORBIDDEN</h1>
    <p class="text-center">make sure you'are an authenticated visitor, try to log in or call an ambulance </p>
    <a href="/" class="text-center">&laquo; back to home</a>
  </div>

  <%- include("component/script") %> 
</body>
</html>