<html lang="en">
<%- include("component/head")  %> 
<style>
  .submit{
    width: 135px;
    height: 38px;
    background-color: #fd7e14;
  }
  .container{
    width: 600px;
    padding: 25px 0;
  }
</style>
<body>
  <header class="header d-flex justify-content-around ">
    <div id="logo"><a href="/"><img src="./images/logo.png" alt=""></a></div>
    <div id="menu">
        <ul class="d-flex justify-content-evenly">
            <li class="list-unstyled"><a class="text-white text-decoration-none" href="#news">News</a></li>
            <li class="list-unstyled"><a class="text-white text-decoration-none" href="#gameplay">Gameplay</a></li>
            <li class="list-unstyled"><a class="text-white text-decoration-none" href="#system">Help</a></li>
            <li class="list-unstyled"><a class="text-white text-decoration-none" href="#review">Review</a></li>
        </ul>
    </div>
  </header> 
  <div class="container">
    <a href="/register/ext"></a>                    <!-- apa ini -->
  
    <!-- add form -->
    <form method="post" action="/register/ext">
      <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input type="text" class="bl form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="first_name" class="form-label"> first name</label>
        <input type="text" class="bl form-control" id="first_name" name="first_name" required>
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">last name</label>
        <input type="text" class="bl form-control" id="last_name" name="last_name" required>
      </div>
      <div class="mb-3">
        <label for="birthDate" class="form-label ms-2">birth date</label>
        <input class="form-control" id="birthDate" name="birthDate" type="date" required></input>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label ms-2">phone</label>
        <input class="form-control" id="phone" name="phone" type="text" required></input>
      </div>
      <div class="mb-3" >
        <a class="btn-input text-white text-decoration-none" href="/">
          <button type="submit" class="submit form-control mx-auto">submit</button>
        </a>
      </div>
    </form>
  </div>
  <%- include("component/script")  %> 
</body>
</html>