<!-- player -->
<div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal=title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal=title" id="modal-title">Login Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus repellendus ut officia tempora? Ut, perspiciatis.</p>
        <form method="post" action="/login">
          <div class="mb-3">
            <label for="email" class="form-label"></label>
            <input type="text" class="bl form-control" id="email" name="email" placeholder="required@mail.com" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"></label>
            <input type="password" class="bl form-control"  id="password" name="password" placeholder="password"required>
          </div>
          <button type="submit" class="btn-submit">Login</button>
        </form>  
        <p class="text-warning">add all seeder before sign up !</p>
        <p class="forget" style="margin: .2rem 0;">Forgot password ? <a href="/error">Click Here</a></p>
        <p class="forget">Don't have an account ? <a href="/register">Sign up</a></p>
      </div>
        <div class="modal-footer">
          <div>copyright @warcry 2021</div>
        </div>
    </div>
  </div>
</div>

<!-- admin -->
<div class="modal fade" id="adm-modal" tabindex="-1" aria-labelledby="modal=title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal=title" id="modal-title">admin login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <form method="" action="/">
          <div class="mb-3">
            <label for="name" class="form-label"></label>
            <input type="text" class="bl form-control" id="username" name="username" placeholder="username" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"></label>
            <input type="password" class="bl form-control"  id="password" name="password" placeholder="password"required>
          </div>
          <a href="/admin"><button type="submit" class="btn-submit">login</button></a>
        </form>  
        <p class="forget">Forgot password ? <a href="/error">Click Here</a></p>
        <p class="forget">username: superuser <br> password: admin <br> <span class="text-warning"> add seeder for activate admin login </span></p>
      </div>
        <div class="modal-footer">
          <div>copyright @warcry 2021</div>
        </div>
    </div>
  </div>
</div>