<header class="header d-flex justify-content-around ">
  <div id="logo"><img src="./images/logo.png" alt="war cry"></div>
  <div id="menu">
      <ul class="d-flex justify-content-evenly">
          <li class="list-unstyled"><a class="text-white text-decoration-none" href="#news">News</a></li>
          <li class="list-unstyled"><a class="text-white text-decoration-none" href="#gameplay">Gameplay</a></li>
          <li class="list-unstyled"><a class="text-white text-decoration-none" href="#system">Help</a></li>
          <li class="list-unstyled"><a class="text-white text-decoration-none" href="#review">Review</a></li>
          <li class="list-unstyled btn-login">
            <!-- <a class="text-white text-decoration-none" href="#review">Hi, motherfucker</a> -->
            <div class="dropdown">
              <a class="text-white text-decoration-none " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reg-modal" href="#">Player login</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#adm-modal" href="">Admin login</a></li>
              </ul>
            </div>
          </li>
      </ul>
  </div>
</header>